@page
@using Microsoft.Extensions.Configuration
@using Suite.Helper
@using Suite.Models
@inject IConfiguration Configuration
@model Suite.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mb-9">
    <div class="row g-3 mb-4">
        <div class="col-auto">
            <h2 class="mb-0">@IndexModel.TITLE</h2>
        </div>
    </div>
    <div class="mb-4">
        <div class="d-flex flex-wrap gap-3">
            <div class="ms-xxl-auto">
                <button class="btn btn-link text-body me-4 px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button>
                <button class="btn btn-primary"><span class="fas fa-plus me-2"></span>Add Tag</button>
            </div>
        </div>
        <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Amended</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="products-table-body">
                        @if (Model.Tags.HasData())
                        {
                            @foreach (TagModel _Tag in Model.Tags)
                            {
                                <tr>
                                    <th>@_Tag.Name</th>
                                    <th>@_Tag.CreatedTimestamp</th>
                                    <th>@_Tag.AmendedTimestamp</th>
                                    <th>@_Tag.AmendedTimestamp</th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h1>Index</h1>

<p>
    <a asp-page="AddEdit">Create New @Configuration["Suite:Settings:DefaultThemeColour"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].CreatedTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags[0].AmendedTimestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tags) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmendedTimestamp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
